---
Language:        Cpp
BasedOnStyle:  Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel:        true
  AfterClass:            true
  AfterControlStatement: true
  AfterEnum:             true
  AfterFunction:         true
  AfterNamespace:        true
  AfterStruct:           true
  AfterUnion:            true
  # AfterExternBlock:      true
  BeforeCatch:           true
  BeforeElse:            true
  # BeforeLambdaBody:      true
  # BeforeWhile:           true
  SplitEmptyFunction:    false
  SplitEmptyRecord:      false
  SplitEmptyNamespace:   false
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
ColumnLimit:     100
ConstructorInitializerIndentWidth: 2
IncludeBlocks: Preserve
IncludeCategories:
  - Regex:           '^".*'
    Priority:        1
  - Regex:           '^<boost.*'
    Priority:        98
  - Regex:           '^<.*\.(h|hpp)>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        99
  - Regex:           '.*'
    Priority:        4
IncludeIsMainRegex: '(Test)?$'
IndentCaseLabels: false
# IndentExternBlock: NoIndent
IndentWidth:     4
MaxEmptyLinesToKeep: 2
PenaltyBreakAssignment: 1
PenaltyBreakComment: 50
TabWidth:        4
...
